:root {
    --primary: #0046be;
    --text: #2d2d2d;
    --accent: #f6f8fb;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
    background-color: white;
    text-align: center;
}

header {
    background-color: var(--accent);
    padding: 60px 20px;
    text-align: center;
}

img {
    width: 260px;
    height: 120px;
}

.cta-btn {
    background-color: var(--primary);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.cta-btn:hover {
   background: #00a6ff; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-10px);
    }
}

.header:img{
    animation: bounce 2sc infinite;
}

.step {
    display: inline-block;
    border: none;
    padding: 20p;
    margin: 40px;
    
}

.step i {
    color: var(--primary);
    font-size: 30px;
}

.step p {
    border: none;
    font-size: 16px;
}

.review{
    display: inline-block;
    border: none;
    border-radius: 0%;
    padding: 20px;
    margin: 4px;
    background: var(--accent) 
}

.review h4{
    color: blue;
}

.cta {
    background-color: var(--accent);
    padding: 40px 10px;
    text-align: center;
    margin-top: 30px;
}